AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_ACCESS_KEY
S3_BUCKET=rizyyn
S3_ENDPOINT_URL=https://s3.nevaobjects.id
S3_PUBLIC_URL=https://rizyyn.s3.nevaobjects.id
S3_PREFIX=audio/
